<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41015773-1', 'nutty.io');
  ga('send', 'pageview', 'username');
</script>


    <script>
    function formCtrl($scope, $http) {
        $scope.saveUsername = function () {
            $http ({method: 'POST',
                    url: '/api/user/username',
                    data: {
                            username: $scope.username
                        }
                    }).
                    success (function (data, success) {
                        console.log (data);
                        if (data.error) {
                            $scope.errormsg = data.errormsg;
                            $scope.alertshow = true;
                        } else {
                            window.close();
                        }
                    }).
                    error (function (data, success) {
                        $scope.errormsg = "Error setting the username";
                        $scope.alertshow = true;
                    });
        }

        $http ({method: 'GET', url: '/api/user/info'}).
            success (function (data, status) {
                if (data.error) {

                } else {
                    $scope.email = data.emails[0].value;
                    $scope.displayName = data.displayName;
                }
            }).
            error (function (data, status) {
                console.log ("error?");
            });
    }
    </script>
<style>
.myform {
    margin: 20px;
    margin-top: 150px;
}
</style>
  </head>
  <body>
    <div ng-controller="formCtrl"> 
    <div class="well myform">
      <form novalidate class="simple-form">
        Email:&nbsp &nbsp &nbsp &nbsp {{email}} <br>
        Name: &nbsp &nbsp &nbsp &nbsp{{displayName}} <br><br>

        Pick Username: <input type="text" ng-model="username"> <br>
        <button class="btn btn-primary" style="float:right" ng-click="saveUsername()">Save</button>
      </form>
    </div>
    <div class="alert alert-error" ng-show="alertshow">{{errormsg}}</div>
    </div>
  </body>
</html>
