html,
body {
    height: 100%;
}
.fullheight {
    height: 100%;
}
.row {
    /*margin-left: 0px;*/
    margin-right: 0px;
}
.pushdown {
    margin-top: 80px;
}
.container {
    max-width: 730px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
    -ms-transform: rotate(90deg);
}
.glyphicon-lg {
    font-size: 22px
}
.glyphicon-exlg {
    font-size: 27px
}
.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: #428bca;
}
.nuttychat {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 25px #666;
    -moz-box-shadow: 0 5px 25px #666;
    box-shadow: 0 5px 25px #666;
}
.nuttychat .chat {
    overflow: auto;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    height: 200px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    overflow-y: auto;
}
.nav-pills > li > a {
    border-radius: 0px;
}
.container .jumbotron {
   border-radius: 0px; 
}
.btn {
    border-radius: 0px;
}
.panel {
    border-radius: 0px;
}

.center {
    text-align: center;
}