html,
body {
    height: 100%;
}
.fullheight {
    height: 100%;
}
.fullwidth {
    width: 100%;
}
.row {
    /*margin-left: 0px;*/
    margin-right: 0px;
}
.pushdown {
    margin-top: 80px;
}
.container {
    max-width: 800px;
    width: auto;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
    -ms-transform: rotate(90deg);
}
.glyphicon-lg {
    font-size: 22px
}
.glyphicon-exlg {
    font-size: 27px
}
.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: #428bca;
}
.faq {
   background-color: #eeeeee;
   padding: 30px;
   margin-bottom: 30px;
   margin-top: 30px;
}
.nuttychat {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 25px #666;
    -moz-box-shadow: 0 5px 25px #666;
    box-shadow: 0 5px 25px #666;
}
.nuttychat .chat {
    overflow: auto;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    height: 200px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    overflow-y: auto;
}
.nav-pills > li > a {
    border-radius: 0px;
}
.container .jumbotron {
   border-radius: 0px; 
}
.btn {
    border-radius: 0px;
}
.panel {
    border-radius: 0px;
}

.center {
    text-align: center;
}

.navbar {
  border: 0px;
  border-radius: 0px;
}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.vertical-container {
  display: -webkit-flex;
  display: flex;
}
.vertically-centered {
  margin: auto;
}

.content {
  min-height: 100%;
  border-right: 4px solid #428bca;
}

.nutty-ssh-creds {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 5px 25px #666;
  margin: 40px;
}

.pad0 {
  padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #428bca;
}

.serverlist {
  margin-top: 50px;
/*  border: 2px solid grey;
  border-radius: 4px;*/
}

.nuttysidebar {
  min-height: 100%;
}

.termpanel {
  padding-top: 50px;
}

.socialbtns {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}