<div id="wrap">
<a href="https://github.com/krishnasrinivas/nuttyapp">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>
<div class="navbar-brand blue"><strong>nutty.io</strong></div>

<div class="container">
    <ul class="nav nav-pills pull-left">
        <li><a href="/">Home</a>
        </li>
        <li><a href="/install">Install</a>
        </li>
        <li><a href="/faq">FAQ</a>
        </li>
        <li class="active"><a href="/contact">Contact</a>
        </li>
    </ul>
    <nutty-signin></nutty-signin>
    <div class="well well-sm pull-right col-xs-1" style="height:26px;padding:3px;text-align:center"> <strong>[[currentuser()]]</strong>
    </div>

    <div class="pushdown jumbotron">
        <a href="https://twitter.com/nuttydotio" target="_blank" style="text-decoration:none; color:#428bca">
            <img src="images/twitter.png" width="50" height="50" alt="" class=""> <strong>@nuttydotio</strong>
        </a>
        <br>
        <a href="https://github.com/krishnasrinivas/nuttyapp" target="_blank" style="text-decoration:none; color:#428bca">
            <img src="images/github.png" width="50" height="50" alt="" class=""> <strong>https://github.com/krishnasrinivas/nuttyapp</strong>
        </a>
        <br>
        Google Groups: <a href="http://groups.google.com/group/nuttydotio" target="_blank">nuttydotio@googlegroups.com</a>
        <br>
        IRC: <a href="https://kiwiirc.com/client/irc.freenode.net/nutty" target="_blank">#nutty (irc.freenode.net)</a>
    </div>
</div>
</div>

<div id="footer">
<div class="navbar navbar-default">
    <div class="container">
    <div class="navbar-text">
    <iframe allowtransparency="true" frameborder="0" scrolling="no"
            src="https://platform.twitter.com/widgets/tweet_button.html?url=https://nutty.io&text=Browser based Terminal Sharing!&size=large&via=nuttydotio"
            style="width:130px; height:20px;"></iframe>
    </div>
    </div>
</div>
</div>
