<a href="https://github.com/krishnasrinivas/nuttyapp">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<div class="container">
    <ul class="nav nav-pills pull-left">
        <li><a href="/">Home</a>
        </li>
        <li class="active"><a href="/install">Install</a>
        </li>
        <!-- <li><a href="/pricing">Pricing</a></li> -->
        <li><a href="/contact">Contact</a>
        </li>
    </ul>
    <nutty-signin></nutty-signin>
    <div class="well well-sm pull-right col-xs-1" style="height:26px;padding:3px;text-align:center">
        <strong>[[currentuser()]]</strong>
    </div>

    <div class="pushdown jumbotron">
        <h2>Install steps</h2>
        <ul>
            <li>
                <a class="btn btn-success" target="_blank" href="https://chrome.google.com/webstore/detail/nutty/ooelecakcjobkpmbdnflfneaalbhejmk" class="">Install Extension</a>
            </li>
            <li>
                Run <i>"sudo pip install nutty"</i>
            </li>
        </ul>
        After installation click <img src="images/terminal.png" style="height:30px;width:30px" alt=""> icon beside the address bar.
    </div>
</div>
