<div id="wrap">
<a href="https://github.com/krishnasrinivas/nuttyapp">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>
<div class="navbar-brand blue"><strong>nutty.io</strong></div>

<div class="container">
    <ul class="nav nav-pills pull-left">
        <li><a href="/">Home</a>
        </li>
        <li class="active"><a href="/install">Install</a>
        </li>
        <li><a href="/faq">FAQ</a>
        </li>
        <!-- <li><a href="/pricing">Pricing</a></li> -->
        <li><a href="/contact">Contact</a>
        </li>
    </ul>
    <nutty-signin></nutty-signin>
    <div class="well well-sm pull-right col-xs-1" style="height:26px;padding:3px;text-align:center">
        <strong>[[currentuser()]]</strong>
    </div>

    <div class="pushdown jumbotron">
        <strong>Installation (3 steps):</strong>
        <ol>
            <li>
                <a class="btn btn-success" target="_blank" href="https://chrome.google.com/webstore/detail/nutty/ooelecakcjobkpmbdnflfneaalbhejmk">Install Extension</a>
                <br>After installing the extension you will see <img src="images/terminal.png" style="height:30px;width:30px" alt=""> icon beside the address bar.
            </li>
            <li>
                Install <i>tmux</i>
                <small>
                <ul>
                    <li>
                        Ubuntu: <i>sudo apt-get install tmux</i>
                    </li>
                    <li>
                        Fedora: <i>sudo yum install tmux</i>
                    </li>
                    <li>
                        MacOSX: <i>sudo brew install tmux</i>
                        <br>(install <i>brew</i> <a href="http://brew.sh" target="_blank">from here</a>)
                    </li>
                </ul>
                </small>
            </li>
           <li>
                Run the following command in terminal:
                <pre><span id="installcmdid" ng-click="selectinstallcmd()" style="font-size:14px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif">[[installcmd]]</span></pre>
            </li>
        </ol>
        After step-3 click <img src="images/terminal.png" style="height:30px;width:30px" alt=""> icon beside the address bar to start terminal in the browser, it will also give you a unique URL which you can share with a remote user.
    </div>

</div>
</div>
<div id="footer">
<div class="navbar navbar-default">
    <div class="container">
    <div class="navbar-text">
    <iframe allowtransparency="true" frameborder="0" scrolling="no"
            src="https://platform.twitter.com/widgets/tweet_button.html?url=https://nutty.io&text=Browser based Terminal Sharing!&size=large&via=nuttydotio"
            style="width:130px; height:20px;"></iframe>
    </div>
    </div>
</div>
</div>
