<a href="https://github.com/krishnasrinivas/nuttyapp">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>
<div class="navbar-brand blue"><strong>nutty.io</strong></div>

<div class="container">
    <ul class="nav nav-pills pull-left">
        <li><a href="/">Home</a>
        </li>
        <li class="active"><a href="/install">Install</a>
        </li>
        <!-- <li><a href="/pricing">Pricing</a></li> -->
        <li><a href="/contact">Contact</a>
        </li>
    </ul>
    <nutty-signin></nutty-signin>
    <div class="well well-sm pull-right col-xs-1" style="height:26px;padding:3px;text-align:center">
        <strong>[[currentuser()]]</strong>
    </div>

    <div class="pushdown jumbotron">
        <strong>Installation steps:</strong>
        <ul>
            <li>
                <a class="btn btn-success" target="_blank" href="https://chrome.google.com/webstore/detail/nutty/ooelecakcjobkpmbdnflfneaalbhejmk">Install Extension</a>
            </li>
            <li>
                Install <i>tmux</i>
                <ul>
                    <li>
                        Ubuntu: <i>sudo apt-get install tmux</i>
                    </li>
                    <li>
                        Fedora: <i>sudo yum install tmux</i>
                    </li>
                    <li>
                        MacOSX: <i>sudo brew install tmux</i>
                    </li>
                </ul>
            </li>
           <li>
                Run the following command in terminal:
            <div class="well well-sm text-center" ng-click="selectinstallcmd()"><span id="installcmdid" style="font-size:14px">[[installcmd]]</span></div>
            </li>
        </ul>
        After installation click <img src="images/terminal.png" style="height:30px;width:30px" alt=""> icon beside the address bar.
    </div>


    <div class="jumbotron">
        <div>
            <h3><strong>Optionally you can run your own nutty server too as nutty is Open Source under GPL.</strong></h3>
        </div>
        <h3> <strong>Deploy nutty server meteor.com:</strong></h3>
        <ul>
            <li>
                $ curl https://install.meteor.com/ | sh
            </li>
            <li>
                $ sudo npm install -g meteorite
            </li>
            <li>
                <small>$ git clone https://github.com/krishnasrinivas/nuttyapp.git</small>
            </li>
            <li>
                $ cd nuttyapp
            </li>
            <li>
                $ mrt install
            </li>
            <li>
                $ meteor deploy &ltsomename&gt.meteor.com
            </li>
        </ul>
        <h3> <strong>Deploy nutty server on a cloud server like EC2:</strong></h3>
        <ul>
            <li>
                Install MongoDB
            </li>
            <li>
                $ curl https://install.meteor.com/ | sh
            </li>
            <li>
                $ sudo npm install -g meteorite
            </li>
            <li>
                <small>$ git clone https://github.com/krishnasrinivas/nuttyapp.git</small>
            </li>
            <li>
                $ cd nuttyapp
            </li>
            <li>
                $ mrt install
            </li>
            <li>
                $ meteor bundle ../bundle.tgz
            </li>
            <li>
                $ cd ..
            </li>
            <li>
                $ tar xzvf bundle.tgz
            </li>
            <li>
                $ export MONGO_URL=mongodb://localhost/nuttyapp
            </li>
            <li>
                $ node bundle/main.js
            </li>
        </ul>
        <h3> <strong>Hosting nutty server on Heroku (using free dyno):</strong></h3>
        <ul>
            <li>
                Signup at mongohq.com, they offer free-tier
            </li>
            <li>
                <small>git clone https://github.com/krishnasrinivas/nuttyapp.git nuttyapp-heroku</small>
            </li>
            <li>
                cd nuttyapp-heroku
            </li>
            <li>
                heroku apps:create &ltnuttyserver&gt
            </li>
            <li>
                <small>heroku config:add BUILDPACK_URL=https://github.com/krishnasrinivas/heroku-buildpack-meteorite.git</small>
            </li>
            <li>
                <small>heroku config:add MONGO_URL=&ltmogodb URL from mogohq.com&gt</small>
            </li>
            <li>
                <small>heroku config:add ROOT_URL=https://&ltnuttyserver&gt.herokuapp.com</small>
            </li>
            <li>
                git push heroku master
            </li>
            <li>
                Thats it. Visit https://&ltnuttyserver&gt.herokuapp.com
            </li>
        </ul>
        <h3><strong>Chrome Extension configuration:</strong></h3>
        <ul>
            <li>open "chrome://extensions" in address bar</li>
            <li>
                click "options" in the Nutty extension section
            </li>
            <li>
                Set your new server domain name.
            </li>
        </ul>
    </div>
</div>
