<div class="row fullheight">
    <div class="col-lg-9 col-md-9 col-sm-12 fullheight">
        <master-terminal ng-style="style"></master-terminal>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 fullheight termpanel">
        <nutty-signin></nutty-signin>

        <input id="sharelinkbox" type="text" class="form-control" ng-model="sharelink" ng-readonly="sharelink" style="font-size:13px;cursor:pointer;color:black;" ng-click="copysharelink()">
        <div class="text-center" style="margin-bottom:10px">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-model="MasterConnection.type"
            btn-radio="'websocket'">WebSocket</button>
            <button type="button" class="btn btn-primary" ng-model="MasterConnection.type"
            btn-radio="'webrtc'">WebRTC</button>
        </div>
        </div>
        <form ng-submit="descsubmit()">
            <input class="form-control" placeholder="Description" ng-model="desc" ng-blur="descblur()"></input>
        </form>
        <record-buttons></record-buttons>
        <nutty-alert></nutty-alert>
        <nutty-chat></nutty-chat>
    </div>
</div>
