
<link rel="stylesheet" href="styles/bootstrap.css">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

<a href="https://github.com/krishnasrinivas/nuttyapp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<div style="margin:100px">

	<div ng-show="browser.incompatible" class="hero-unit">
		<div class="alert alert-error">
			<h3>Your OS/Browser: {{browser.OS}} {{browser.browser}}-{{browser.version}}</h3>
			<h3>Sorry, if you want to share terminals - only Chrome 29+ on Mac/Linux is supported.</h3>
			<h3>Firefox support coming soon!</h3>
			<h5>However a "sharee" (viewer) can use Chrome 26+ even on windows.<h5>
			<h4>Download latest Chrome here: <a href="http://www.google.com/chrome">http://www.google.com/chrome</a></h4>
		</div>
	</div>

	<div style="text-align: center;" class="hero-unit well">
		<h1>Share linux/mac terminal over web using just a browser!</h1>
		(Useful for remote support or pair-programming)
	</div>

	<h1>Installation steps</h1>
	<div class="hero-unit">
		<ul>
			<li>Click <button class="btn btn-primary" ng-click="install_ext()">install</button> to install Nutty Extension. <strong ng-show="installStatus" style="color:green">({{installStatus}})</strong></li>
			<li>Run 'bash <a target="_blank" href="install_host.sh">install_host.sh</a>' as root to install <i>nutty.py</i> and <i>io.nutty.terminal.json</i>
			</li>
			<li>Click <a href="/home">Done!</a></li>
		</ul>
	</div>

	<h1>Demo</h1>
	<div style="text-align:center;margin:auto">
<iframe width="480" height="360" src="https://www.youtube.com/embed/AqLeaVZWNfk?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<h1>Details</h1>
	<div class="hero-unit">
	<p>
		Nutty uses WebRTC to share the terminal with peers in the browser. <a href="http://www.webrtc.org/">WebRTC</a> is true peer-to-peer technology built into browsers to enable realtime communication between peers. All data transmitted using WebRTC is encrypted. Nutty uses WebRTC's DataChannel to share terminal peer-to-peer. Nutty uses <a href="http://peerjs.com/">PeerJS</a> javascript library which provides abstraction over WebRTC APIs.
	</p>
	<p>
		Nutty's web based terminal emulator (<a href="http://git.chromium.org/gitweb/?p=chromiumos/platform/assets.git;a=tree;f=chromeapps/hterm">hterm</a>) uses Chrome's <a href="http://developer.chrome.com/extensions/messaging.html#native-messaging">Native Messaging API</a> to communicate with the nutty.py script which creates pseudo terminals.
	</p>
	<p>
		<strong>Browser supported: Chrome 29+. Firefox support coming soon!</strong>
	</p>

	<p><strong>Please rate the Chrome extension <a target="_blank" href="https://chrome.google.com/webstore/detail/nutty/ooelecakcjobkpmbdnflfneaalbhejmk">here</a></strong></p>
	</div>

	<h1>Security notes</h1>
	<div class="hero-unit">
		<ul>
			<li>Communication between peers is direct p2p without any proxy and encrypted by WebRTC layer</li>
			<li>Access to backend script nutty.py is restricted to nutty's chrome extension. Access to nutty's chrome extension is in turn restricted to https://nutty.io domain</li>
			<li>Any terminal recorded and uploaded will not contain passwords as they are not echo'ed to the terminal</li>
		</ul>
	</div>

	<h1>FAQ</h1>
	<div class="hero-unit">
		<ul>
			<li>
				Q: Why nutty when we already have tools like tmux and screen?
				<p>tmux and screen works when the other person has ssh access to your machine. But if you or your peer is behind the firewall or if you don't want to share username/password credentils when you just want to share terminals - nutty is the answer.</p>
			</li>
			<li>
				Q: Installation of nutty on Chrome requires sudo root access. why?
				<p>I have raised this issue with Chromium team: <a href="https://code.google.com/p/chromium/issues/detail?id=308854">https://code.google.com/p/chromium/issues/detail?id=308854</a></p>
			</li>
			<li>
				Q: Will closing my browser tab used for sharing terminal automatically disconnect peer?
				<p>Yes.</p>
			</li>
			<li>
				Q: Will nutty be supported on Firefox?
				<p>Yes. Soon.</p>
			</li>
			<li>
				Q: Will nutty be supported on Windows?
				<p>If there are enough requests ssh client can be made to work on browser which in turn can be sharable. So a Sharer will ssh-login to a server and share the link</p>
			</li>
			<li>
				Q: Can I share only local machine's terminal? How can I share my access to a server in the cloud?
				<p>In nutty's terminal you can just ssh to the remote server. The same shared link will work(duh).</p>
			</li>
			<li>
				Q: When I record terminal using nutty are my passwords captured too?
				<p>Since passwords are not echoed back to the terminal it never gets recorded.</p>
			</li>
			<li>
				Q: Why does nutty use WebRTC?
				<p>Nutty is one of the examples of the cool things that are possible with WebRTC DataChannels.
					WebRTC DataChannels are encrypted and p2p and hence completely secure.</p>
			</li>
		</ul>
	</div>

	<h1>Open Source</h1>
	<div class="hero-unit">
		nutty.io code is Open Source:
		<ul>
			<li>
				nuttyapp: <a href="https://github.com/krishnasrinivas/nuttyapp">https://github.com/krishnasrinivas/nuttyapp</a>
			</li>
			<li>
				nuttyrest: <a href="https://github.com/krishnasrinivas/nuttyrest">https://github.com/krishnasrinivas/nuttyrest</a>
			</li>
		</ul>
	</div>

	<h1>Contact</h1>
	<div class="hero-unit">
	    <iframe allowtransparency="true" frameborder="0" scrolling="no"
        	src="//platform.twitter.com/widgets/follow_button.html?screen_name=nuttydotio" style="height:30px;padding:0px" class="nutty-nav-icon">
        </iframe>
        <br>
	    <iframe src="/extern/github-btn.html?user=krishnasrinivas&repo=nuttyapp&type=watch&count=true"
    		allowtransparency="true" frameborder="0" scrolling="0" style="width:200px; height:30px;padding:0px" class="nutty-nav-icon">
    	</iframe>

		<br><span>krishna.sri<span ng-hide="1">removeme.</span>nivas@gm<span ng-hide="1">removeme.</span>ail.com</span>
		<br>IRC: #nutty on irc.freenode.net
		<br> webirc chat: <a target="_blank" href="https://kiwiirc.com/client/irc.freenode.net/nutty">https://kiwiirc.com/client/irc.freenode.net/nutty</a>
	</div>

</div>
