<div ng-controller="MasterNavbarCtrl">
<div class="navbar navbar-fixed-top">
<div class="navbar-inner row-fluid">
  <div class="row span2">
    <a href="/info" target="_blank">
      <i class="icon-info pull-left nutty-nav-icon" tooltip-placement="bottom" tooltip="Info" style="margin-top:8px;margin-right:0px;text-decoration: none;"></i>
    </a>
    <iframe allowtransparency="true" frameborder="0" scrolling="no"
      src="//platform.twitter.com/widgets/follow_button.html?screen_name=nuttydotio&show_count=false&show_screen_name=false" style="display:inline-block;width:60px; height:20px; margin-top:7px" class="pull-left nutty-nav-icon"></iframe>

    <iframe src="/extern/github-btn.html?user=krishnasrinivas&repo=nuttyapp&type=watch"
      allowtransparency="true" frameborder="0" scrolling="0" style="display:inline-block;width:60px; height:20px; margin-top:7px;padding:10px 0px 10px 0px" class="pull-left nutty-nav-icon"></iframe>

    <a href="https://kiwiirc.com/client/irc.freenode.net/nutty" target="_blank">
      <i class="icon-comment pull-left nutty-nav-icon" tooltip-placement="bottom" tooltip="Support-chat" style="margin-top:8px;margin-right:0px; margin-left:0px;text-decoration: none;"></i>
    </a>
  </div>
	<div class="row span8">
			<div class="span3 pull-left">
        <input type="checkbox" class="pull-left" ng-click="remotero()" ng-model="mcdata.remotero" style="margin:20px 10px 0px 0px; cursor:pointer" tooltip="Remote readonly" tooltip-placement="bottom">
				<span class="icon-stack nutty-nav-icon pull-left" ng-click="newTerm()"  tooltip-placement="bottom" tooltip="New Terminal">
 					<i class="icon-sign-blank icon-stack-base icon-small"></i>
					<i class="icon-terminal icon-light icon-small"></i>
				</span>
        <span class="pull-left" style="margin-top:15px;margin-right:10px">{{numberOfTerminals()}}</span>
        <span class="pull-left nutty-nav-icon" ng-click="showRecordings()" tooltip-placement="bottom" tooltip="View uploaded recordings"><i class="icon-facetime-video icon-2x"></i></span>
        <span class="pull-left nutty-nav-icon" ng-click="showLogs()" tooltip-placement="bottom" tooltip="View Logs"><i class="icon-list-alt icon-2x"></i></span>
			</div>

   			<input type="text" ng-model="mcdata.sharecode" ng-readonly="mcdata.sharecodero" style="margin-bottom:0px; padding-bottom:5px; margin:6px; width: 250px; color:black; cursor:pointer" tooltip="Copied!" tooltip-placement="bottom" tooltip-trigger="focus" ng-click="copyLink()">

  			<div class="span2 pull-right">
            <i tooltip-placement="bottom" tooltip="Sign out" class="icon-signout icon-large nutty-nav-icon pull-right" ng-show="userprofile.email" ng-click="signOut()"></i>
            <i tooltip-placement="bottom" tooltip="Sign in" class="icon-google-plus-sign icon-large nutty-nav-icon pull-right" ng-hide="userprofile.email" ng-click="signIn()"></i>
<!--             <i tooltip-placement="bottom" tooltip="Settings" class="icon-cog icon-large nutty-nav-icon pull-right"></i> -->
        </div>
  			<div style="margin: 10px" class="span2 pull-right">
          <img ng-show="userprofile.username" src="https://secure.gravatar.com/avatar/{{userprofile.emailhash}}?s=22" style="border-radius:5px">
          <strong>{{userprofile.username}}</strong>
        </div>

  </div>

  <div class="row span2 pull-right">
<!--           <span class="pull-right" style="margin-top:15px;margin-right:10px">{{numberOfTerminals()}}</span>
          <span class="icon-stack nutty-nav-icon pull-right">
            <i class="icon-sign-blank icon-stack-base icon-small-2x" style="font-size: 22px;"></i>
            <i class="icon-terminal icon-light icon-small-2x" style="font-size: 10px;"></i>
          </span> -->
          <span class="pull-right" style="margin-top:15px;margin-right:10px">{{numberOfViewers()}}</span>
          <i class="icon-user pull-right nutty-nav-icon" style="margin-top:8px;margin-right:0px;cursor: default" tooltip-placement="bottom" tooltip="Peers"></i>
  </div>

</div>
</div>
</div>

<master-terminal ng-repeat="(key, config) in configs" ng-style="resizeStyle" ng-click="incrementZindex()" ng-hide="hide"></master-terminal>
<play-terminal ng-repeat="(key, config) in playTerms" ng-style="resizeStyle" ng-click="incrementZindex()" ng-hide="hide"></play-terminal>

<user-details style="position:absolute;border:1px solid grey;width:300px;height:300px;background:white;" ng-style="resizeStyle" ng-click="incrementZindex()" ng-show="visible.val"></user-details>

<log-window style="position:absolute;width:400px;height:400px;background:white;border:1px solid grey" ng-style="resizeStyle" ng-click="incrementZindex()" ng-show="visible.val"></log-window>
