
<link rel="stylesheet" href="styles/bootstrap.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css">

<div ng-controller="SlaveNavbarCtrl">
<div class="navbar">
<div class="navbar-inner navbar-fixed-top row-fluid" style="padding-left:0px">
  <div class="row span2">
    <a href="/info" target="_blank">
      <i class="icon-info pull-left nutty-nav-icon" tooltip-placement="bottom" tooltip="Info" style="margin-top:8px;margin-right:0px; cursor:help;text-decoration: none;"></i>
    </a>
  </div>
  <div class="row span7">
			<div class="span3 pull-left">
      <div ng-show="peerConnected">
				<span ng-hide="scdata.remotero" class="icon-stack nutty-nav-icon pull-left" ng-click="newTerm()"  tooltip-placement="bottom" tooltip="New Terminal">
 					<i class="icon-sign-blank icon-stack-base icon-small"></i>
					<i class="icon-terminal icon-light icon-small"></i>
				</span>
        <span ng-show="scdata.remotero" class="icon-stack pull-left nutty-nav-icon" tooltip-placement="bottom" tooltip="Read-Only Access">
          <i class="icon-sign-blank icon-large"></i>
          <i class="icon-ban-circle icon-stack-base text-error icon-large"></i>
        </span>
      </div>
        <span class="pull-left" style="margin-top:15px;margin-right:10px">{{numberOfTerminals()}}</span>
        <span class="pull-left nutty-nav-icon" ng-click="showRecordings()" tooltip-placement="bottom" tooltip="View uploaded recordings"><i class="icon-facetime-video icon-2x"></i></span>
        <span class="pull-left nutty-nav-icon" ng-click="showLogs()" tooltip-placement="bottom" tooltip="View Logs"><i class="icon-list-alt icon-2x"></i></span>
			</div>

  			<div class="span2 pull-right">
            <i tooltip-placement="bottom" tooltip="Sign out" class="icon-signout icon-large nutty-nav-icon pull-right" ng-show="userprofile.email" ng-click="signOut()"></i>
            <i tooltip-placement="bottom" tooltip="Sign in" class="icon-google-plus-sign icon-large nutty-nav-icon pull-right" ng-hide="userprofile.email" ng-click="signIn()"></i>
<!--             <i tooltip-placement="bottom" tooltip="Settings" class="icon-cog icon-large nutty-nav-icon pull-right"></i> -->
        </div>
  			<div style="margin: 10px" class="span2 pull-right">
          <img ng-show="userprofile.username" src="https://secure.gravatar.com/avatar/{{userprofile.emailhash}}?s=22" style="border-radius:5px">
          <strong>{{userprofile.username}}</strong>
        </div>
   </div>
  <div class="row span2 pull-right" style="margin-right:20px">
<!--           <span class="pull-right" style="margin-top:15px;margin-right:10px">{{numberOfTerminals()}}</span>
          <span class="icon-stack nutty-nav-icon pull-right">
            <i class="icon-sign-blank icon-stack-base icon-small-2x" style="font-size: 22px;"></i>
            <i class="icon-terminal icon-light icon-small-2x" style="font-size: 10px;"></i>
          </span> -->
          <span class="pull-right" style="margin-top:15px;margin-right:0px">{{numberOfViewers()}}</span>
          <i class="icon-user pull-right nutty-nav-icon" style="margin-top:8px;margin-right:0px;cursor:default" tooltip-placement="bottom" tooltip="Peers"></i>
          <div style="color:red;margin-top:15px" ng-show="scdata.disconnected"><strong>Disconnected</strong></div>
  </div>

</div>
</div>
</div>
<slave-terminal ng-repeat="(key, config) in configs" ng-style="resizeStyle" ng-click="incrementZindex()" ng-hide="hide"></slave-terminal>
<play-terminal ng-repeat="(key, config) in playTerms" ng-style="resizeStyle" ng-click="incrementZindex()" ng-hide="hide"></play-terminal>
<user-details style="position:absolute;border:1px solid grey;width:300px;height:300px;background:white;" ng-style="resizeStyle" ng-click="incrementZindex()" ng-show="visible.val"></user-details>

<log-window style="position:absolute;width:400px;height:400px;background:white;border:1px solid grey" ng-style="resizeStyle" ng-click="incrementZindex()" ng-show="visible.val"></log-window>
<i ng-hide="spinnerhide" ng-style="spinnerStyle" class="icon-spinner icon-spin icon-large-3x"></i>
