<div class="pushdown">

    <div ng-show="connected()" class="jumbotron text-center">
        <p><a href="/share" class="btn btn-success btn-lg" role="button" target="_blank">Start Terminal</a>
        </p>
    </div>
    <div ng-hide="connected()" class="jumbotron">
        <alert type="danger" ng-show="Compatibility.browser.incompatible">
            <strong style="color:red">
		Supported OS/Browser: Linux/Mac with Chrome-29+
	</strong>
            <br>Your OS/Browser: [[Compatibility.browser.OS]]/[[Compatibility.browser.browser]]-[[Compatibility.browser.version]]
        </alert>
       <strong>Installation (3 steps):</strong>
        <ol>
            <li>
                <a class="btn btn-success" target="_blank" href="https://chrome.google.com/webstore/detail/nutty/ooelecakcjobkpmbdnflfneaalbhejmk">Install Extension</a>
                <br><small>After installing the extension you will see <img src="images/terminal.png" style="height:30px;width:30px" alt=""> icon beside the address bar.</small>
            </li>
            <li>
                Install <i>tmux</i>
                <small>
                <ul>
                    <li>
                        Ubuntu: <i>sudo apt-get install tmux</i>
                    </li>
                    <li>
                        Fedora: <i>sudo yum install tmux</i>
                    </li>
                    <li>
                        MacOSX: <i>sudo brew install tmux</i>
                        <br>(install <i>brew</i> <a href="http://brew.sh" target="_blank">from here</a>)
                    </li>
                </ul>
                </small>
            </li>
           <li>
                Run the following command in terminal:
                <pre><span id="installcmdid" ng-click="selectinstallcmd()" style="font-size:14px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif">[[installcmd]]</span></pre>
            </li>
        </ol>
        After step-3 click <img src="images/terminal.png" style="height:30px;width:30px" alt=""> icon beside the address bar to start terminal in the Chrome browser, it will also give you a unique URL which you can share with a remote user.

    </div>

</div>
