<div class="pushdown">

    <div ng-show="connected()" class="jumbotron text-center">
        <p><a href="/share" class="btn btn-success btn-lg" role="button" target="_blank">Start Terminal</a>
        </p>
    </div>
    <div ng-hide="connected()" class="jumbotron">
        <alert type="danger" ng-show="Compatibility.browser.incompatible">
            <strong style="color:red">
		Supported OS/Browser: Linux/Mac with Chrome-29+
	</strong>
            <br>Your OS/Browser: [[Compatibility.browser.OS]]/[[Compatibility.browser.browser]]-[[Compatibility.browser.version]]
        </alert>
        <strong>Installation steps:</strong>
        <ul>
            <li>
                <a class="btn btn-success" target="_blank" href="https://chrome.google.com/webstore/detail/nutty/ooelecakcjobkpmbdnflfneaalbhejmk">Install Extension</a>
            </li>
            <li>
                Install <i>tmux</i>
                <ul>
                    <li>
                        Ubuntu: <i>sudo apt-get install tmux</i>
                    </li>
                    <li>
                        Fedora: <i>sudo yum install tmux</i>
                    </li>
                    <li>
                        MacOSX: <i>sudo brew install tmux</i>
                    </li>
                </ul>
            </li>
           <li>
                Run the following command in terminal:
            <div class="well well-sm text-center" ng-click="selectinstallcmd()"><span id="installcmdid" style="font-size:14px">[[installcmd]]</span></div>
            </li>
        </ul>
        After installation click <img src="images/terminal.png" style="height:30px;width:30px" alt=""> icon beside the address bar.
    </div>

</div>
