<div style='width:100%; height:90%'>
    <div nutty-terminal style="width:100%; height:100%; position:relative">
        <iframe nutty-iframe style='border:0px; width:100%; height:100%; position:absolute'></iframe>
    </div>
</div>
<div class="row" style='height:90%'>
    <div class="col-xs-4">
        <a style="padding:4px;margin-top:10px" class="btn btn-primary pull-right" ng-click="pauseplay()" tooltip-placement="bottom" tooltip="[[btnstate()]]"><span class="glyphicon glyphicon-[[btnstate()]]"></span></a>
    </div>
    <div class="col-xs-4">
        <input type="text" id="example_id" name="example_name" value="" />
    </div>
    <div class="col-xs-4"></div>
</div>
