
<!-- 	<div nutty-tilebar style="width:100%; height:20px;background-color:grey;cursor:move;position:relative;"> -->
	<div nutty-tilebar class="toolbar" style="cursor:move">
		<span class="pull-left" style="cursor:pointer; margin-left:5px" ng-show="collapsed" ng-click="clickPlus()"><i class="icon-chevron-down"></i> </span>
		<span class="pull-left" style="cursor:pointer; margin-left:5px" ng-hide="collapsed" ng-click="clickPlus()"><i class="icon-chevron-up"></i> </span>
		<span style="margin-left:5px">{{windowTitle}}</span>
		<span class="pull-right" style="cursor:pointer; margin-right:5px" ng-click="closeTerm()"><i class="icon-remove"></i> </span>
		<strong style="color:green; margin-right:10px" class="pull-right">{{key}}</strong>
	</div>
	<div nutty-more collapse="collapsed">
<!-- 		<div nutty-more style="width:100%; height:20px;position:relative;background-color:white"> -->
			<div class="toolbar">
 			<span class="pull-left"  ng-style="recBtnStyle" ng-click="record()" tooltip-placement="right" tooltip="Record"><i class="icon-circle"></i></span>
 			<span class="pull-left" style="cursor:pointer; margin-left:5px;" ng-click="stop()" tooltip-placement="right" tooltip="Stop Recording"><i class="icon-stop"></i></span>
			<span class="pull-left" style="cursor:pointer; margin-left:5px;" ng-click="play()" tooltip-placement="right" tooltip="Play"><i class="icon-play"></i></span>
 			<span class="pull-left" style="cursor:pointer; margin-left:5px;" ng-click="upload()" tooltip-placement="right" tooltip="Upload"><i class="icon-cloud-upload"></i></span>
 			<input type="text" ng-model="recordDesc" stop-event='click' style="height:10px; margin-left:5px" placeholder="Description for upload">
 			<span class="pull-left" style="cursor:pointer; margin-left:5px;" ng-show="spinner"><i class="icon-spinner icon-spin"></i></span>
 			<span class="pull-right" style="margin-right:4px; color:red"><strong>{{message}}</strong></span>
		</div>
	</div>
	<div nutty-terminal style="position:relative">
    	<!-- <iframe nutty-iframe style="border:0px; width:100%; height:100%; position:relative"></iframe> -->
    </div>
 